

body{
    background-color:#355070 ;
}


.Header{
position: absolute;
width: 1289px;
height: 112px;
left: 200px;
top: 68px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
}

.line{
    width:800px;
    border-style:solid;
    top: 130px;
    position:absolute;
    margin:auto;
}

.format{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 836px;
height: 109px;

}

.Desc{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 836px;
height: 109px;

}

.Tags{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 836px;
height: 109px;


}

.Submit{
display: flex;
flex-direction: row;
padding: 10px 10px 10px 10px;
text-align: center;
border-radius: 10px;

position: absolute;
width: 110px;
height: 50px;
left: 1000px;
top: 701px;

}

.text{
    width:800px;
    height: 150px
 
}


.box-1{
    position:absolute;
    left: 320px;
    top: 156px;
    border-style:solid;
    border-radius: 10px;
    padding: 10px 5px 10px 10px;
    justify-self: center;
    margin:auto;

}

.box-2{
    position:absolute;
    left: 320px;
    top: 328px;
    border-style:solid;
    border-radius: 10px;
    padding: 10px 5px 10px 10px;
    justify-self: center;
}

.box-3{
    position:absolute;
    left: 320px;
    top: 500px;
    border-style:solid;
    border-radius: 10px;
    padding: 10px 5px 10px 10px;
    justify-self: center;
}

/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 1080;
    
    
  }
  
  li {
    float: right;
    margin-right: 30px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: rgb(112, 103, 103);
    text-decoration: none;
    color:rgb(0, 0, 0); 
  }
  
  ul p{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    float:left;
    left:20px;
    color: white;
    position: relative;

  }