@import url("https://fonts.googleapis.com/css?family=Saira Semi Condensed");
*{
    background-color: #232323;
}

body{
    padding: 0;
    margin: 0;
    background-color: #232323;
    font-family: 'Saira Semi Condensed';font-size: 22px;
}

.loginshiz{
    position: absolute;
    width: 816px;
    height: 1080px;
    left: 0px;
    top: 0px;
    
    background: #232323;
}

.loginshiz h2{
    position: absolute;
width: 352px;
height: 72px;
left: 233px;
top: 280px;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 76px;
text-align: center;

color: #FFFFFF;
}

.loginshiz h3{
    position: absolute;
width: 100px;
height: 66px;
left: 358px;
top: 665px;

font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 55px;
text-align: center;

color: #3F72A5;
}

.loginshiz .line-1{
    position: absolute;
width: 569px;
height: 0px;
left: 124px;
top: 370px;

border: 2px solid #3F72A5;
}

.loginshiz .line-2{
    
position: absolute;
width: 225px;
height: 0px;
left: 124px;
top: 712px;

border: 2px solid #3F72A5;
}

.loginshiz .line-3{
    
position: absolute;
width: 225px;
height: 0px;
left: 468px;
top: 712px;

border: 2px solid #3F72A5;
}

.loginshiz .elabel{
    position: absolute;
width: 46px;
height: 21px;
left: 263px;
top: 405px;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
color: #FFFFFF;
}

.loginshiz button{
    border: none;
    width: 36%;
    margin: auto;
}

.loginshiz .email{
    position: absolute;
    width: 290px;
    height: 53px;
    left: 263px;
    top: 438px;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 8px;

}

.loginshiz .plabel{
    position: absolute;
    width: 83px;
    height: 21px;
    left: 263px;
    top: 515px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */
    color: #FFFFFF;
}

.loginshiz .pass{
    position: absolute;
    width: 290px;
    height: 52px;
    left: 263px;
    top: 546px;    
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 8px;

}

.loginshiz .btn-lgn{
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;

position: absolute;
left: 32%;
right: 71.19%;
top: 57.69%;
bottom: 38.12%;

background: #7AC9F5;
border-radius: 8px;
}

.loginshiz .btn-reg{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
position: absolute;
left: 32%;
right: 71.19%;
top: 69.44%;
bottom: 26.36%;
background: #E88484;
border-radius: 8px;
}

/*animations*/
.slide-frames{
    overflow: hidden;
    height: 1080px;
    width: 1104px;
    margin-left: 816px;
    /*margin-top: -3px;*/
}

@-webkit-keyframes slides_anim{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1104px;}
    30%{left: 1104px;}
    40%{left: 2208px;}
    50%{left: 2208px;}
    60%{left: 1104px;}
    70%{left: 1104px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
}

.slide-images{
    width: 3312;
    height: 1080px;
    margin: 0 0 0 -2208px;
    position: relative;
    -webkit-animation-name: slides_anim;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count:infinite ;
    -webkit-animation-direction: alternate ;
    -webkit-animation-play-state:running ;
}

.img-container{
    height: 1080px;
    width: 1104px;
    position: relative;
    float: left;
}