*{
    margin: 0;
}

body {
    font-family: 'Saira Semi Condensed';
    background-color: #2b2b2b;

}
.navbar{
    width: 100%;
    height: 50px;
    background-color: #2b2b2b;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container{
    flex: 2;
}

.logo{
    font-size: 30px;
    color: beige;
    cursor: pointer;
}

.menu-container{
    flex: 5;
}

.menu-list{
    display: flex;
    list-style: none;
    cursor: pointer;
}

.menu-item{
    margin-right: 30px;
}
.menu-item.home{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.profile-text{
    margin: 0 20px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.optionss{
    color:white;
    text-decoration: none;
}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

.profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: #151515;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease all;
}

.container-xxx{
    background-color: #2b2b2b;
    min-height: calc(100vh - 50px);
    color: white;
}

.indiv-art{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.art-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.art-desc{
    margin-left: 50px;
    margin-top: none;
}
.title{
    margin-top: 10px;
}
.author{
    margin-top: 10px;
}
.desc{
    margin-top: 20px;
    width: 400px;
    justify-content: center;
    text-align: justify;
}

.posted-art{
    width: 900px;
    height: 700px;
    object-fit: cover;
}


@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}

/*lightmode*/
body.active{
    background-color: beige;

}
.container-xxx.active{
    background-color: beige;
}

.art-info.active{
    color: black;
}


.navbar-container.active{
    background-color: rgb(224, 224, 203);
    color: black;
}


.logo.active{
    color: black;
}

.toggle.active{
    background-color: #151515;
}

.toggle-ball.active{
    background-color: rgb(224, 224, 203);
    transform: translateX(-20px);
}

.optionss.active{
    background-color:transparent;
    color: black;
}

.dropbtn.active{
    color: black;
    background-color: transparent;
}